In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [9]:
df=pd.read_csv("customer.csv")
df.head(10)

,Customer ID,Age,City,Income,Education Level,Last Purchase Date,Monthly Spending,Preferred Product Category
0,1,32.0,New York,60000.0,Bachelor's,10/25/2023,250,Electronics
1,2,28.0,Los Angeles,45000.0,Associate's,11/12/2023,180,Clothing
2,3,40.0,Chicago,52000.0,High School,10/7/2023,300,Groceries
3,4,NaN,San Francisco,NaN,NaN,11/5/2023,150,Home Improvement
4,5,25.0,Atlanta,38000.0,Diploma,10/15/2023,120,Beauty
5,6,36.0,Seattle,70000.0,Master's,11/20/2023,400,Sports & Fitness
6,7,22.0,Houston,NaN,Diploma,10/28/2023,80,NaN
7,8,48.0,Miami,55000.0,Bachelor's,11/8/2023,220,Travel
8,9,30.0,Denver,NaN,Associate's,10/18/2023,100,NaN
9,10,27.0,Philadelphia,42000.0,High School,10/30/2023,160,Entertainment

In [12]:

df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Income'].fillna(df['Income'].mean(),inplace=True)
df['Monthly Spending'].fillna(df['Monthly Spending'].mean(), inplace=True)

In [28]:

df.replace({"Education Level":{"Bachelor's":0,"Associate's":1,"High School":2,"Diploma":3,"Master's":4}},inplace=True)
df.replace({"Preferred Product Category":{"Electronics":0,"Clothing":1,"Groceries":2,"Home Improvement":3,"Beauty":4,"Sports & Fitness":5,"Travel":6,"Entertainment":7}},inplace=True)
df

,Customer ID,Age,City,Income,Education Level,Last Purchase Date,Monthly Spending,Preferred Product Category
0,1,32.0,New York,60000.000000,0.000000,10/25/2023,250,0.0
1,2,28.0,Los Angeles,45000.000000,1.000000,11/12/2023,180,1.0
2,3,40.0,Chicago,52000.000000,2.000000,10/7/2023,300,2.0
3,4,32.0,San Francisco,51714.285714,1.777778,11/5/2023,150,3.0
4,5,25.0,Atlanta,38000.000000,3.000000,10/15/2023,120,4.0
5,6,36.0,Seattle,70000.000000,4.000000,11/20/2023,400,5.0
6,7,22.0,Houston,51714.285714,3.000000,10/28/2023,80,NaN
7,8,48.0,Miami,55000.000000,0.000000,11/8/2023,220,6.0
8,9,30.0,Denver,51714.285714,1.000000,10/18/2023,100,NaN
9,10,27.0,Philadelphia,42000.000000,2.000000,10/30/2023,160,7.0

In [30]:
df['Preferred Product Category'].fillna(df['Preferred Product Category'].mean(),inplace=True)
df['Education Level'].fillna(df['Education Level'].mean(),inplace=True)

In [31]:
df.isna().sum()

Customer ID                   0
Age                           0
City                          0
Income                        0
Education Level               0
Last Purchase Date            0
Monthly Spending              0
Preferred Product Category    0
dtype: int64

In [10]:
#focus on relevent numerical features After filling in the missing values.calculate and interpret mean ,standard deviation and other stattistic for Age,Income and monthly spending

In [26]:
mean_age = df['Age'].mean()
print(f"Mean Age: {mean_age}, Standard Deviation Age: {std_dev_age}")

Mean Age: 32.0, Standard Deviation Age: 7.6739096221475585

In [11]:





std_dev_age = df['Age'].std()

mean_income = df['Income'].mean()
std_dev_income = df['Income'].std()

mean_monthly_spending = df['Monthly Spending'].mean()
std_dev_monthly_spending = df['Monthly Spending'].std()


median_age = df['Age'].median()
min_income = df['Income'].min()
max_monthly_spending = df['Monthly Spending'].max()


print(f"Mean Age: {mean_age}, Standard Deviation Age: {std_dev_age}")
print(f"Mean Income: {mean_income}, Standard Deviation Income: {std_dev_income}")
print(f"Mean Monthly Spending: {mean_monthly_spending}, Standard Deviation Monthly Spending: {std_dev_monthly_spending}")

print(f"Median Age: {median_age}")
print(f"Minimum Income: {min_income}")
print(f"Maximum Monthly Spending: {max_monthly_spending}")

Mean Age: 32.0, Standard Deviation Age: 7.6739096221475585
Mean Income: 51714.28571428572, Standard Deviation Income: 9076.395340714967
Mean Monthly Spending: 196.0, Standard Deviation Monthly Spending: 98.9051172701505
Median Age: 31.0
Minimum Income: 38000.0
Maximum Monthly Spending: 400

In [33]:


correlation_matrix = df[['Age', 'Income', 'MonthlySpending', 'Preferred Product Category']].corr()
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix')
plt.show()

KeyError: "['MonthlySpending'] not in index"

In [34]:



numerical_features = df[['Age', 'Income', 'MonthlySpending']]


scaler = StandardScaler()
numerical_features_scaled = scaler.fit_transform(numerical_features)


pca = PCA(n_components=2)
principal_components = pca.fit_transform(numerical_features_scaled)


principal_df = pd.DataFrame(data=principal_components, columns=['PC1', 'PC2'])


final_df = pd.concat([principal_df, df['TargetVariable']], axis=1)


plt.figure(figsize=(8, 6))
sns.scatterplot(x='PC1', y='PC2', hue='TargetVariable', data=final_df, palette='viridis')
plt.title('PCA of Numerical Features')
plt.show()

KeyError: "['MonthlySpending'] not in index"